@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    /* height: max-content; */
    display: flex;
    justify-content: center;
    align-items: self-start;
    color: #f8f8ff;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    /* background: linear-gradient(to top right, #1a1a1a, #2e2e2e, #CFAF77); */
}
.gift{
    bottom: -100%;
    opacity: 0;
    transition: opacity 0.4s ease, bottom 0.7s ease;
}
.gift.active{
    opacity: 1;
    width: 100%;
    height: 80vh;
    background-color: #f8f8ff53;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(30px);
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -10px 100px 5px rgba(0,0,0,0.3);
}
.gift h1{
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
}
.gift h2{
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
}
.gift p{
    font-family: "Oxanium", sans-serif;
    margin-bottom: 30px;
}
.gift button{
    width: 70%;
    height: 50px;
    outline: none;
    border: none;
    background-color: #1E2337;
    color: #f8f8ff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    border-radius: 20px;
    animation: borderAnime 1.5s infinite;
}
@keyframes borderAnime{
    0%{
        outline: 2px solid #212121cc;
        outline-offset: 0px;
    }
    25%{
        outline: 2px solid #2121212f;
        outline-offset: 5px;
    }
    /* 75%{
        outline: 10px solid #212121cc;
    } */
    100%{
        outline: 30px solid transparent;
        outline-offset: 10px;
    }
}
.menu{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #212121cc;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.4);
    position: fixed;
    bottom: 0;
    left: 0;
}
.menu div{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 5px;
    transition: all 0.2s ease;
    margin: 0px 5px;
    font-size: 0.8rem;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}
.menu div p{
    margin-top: 3px;
}
.home{
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    /* backdrop-filter: blur(1px); */
    background: linear-gradient(55deg, #1a1a1a, #2e2e2e, #CFAF77);
}
.home .myCoins{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-top: 15px;
    flex-direction: column;
}
.home .myCoins div{
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home .myCoins .topBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0px 5px;
}
.home .myCoins div p{
    /* margin-left: 10px; */
    color: #f8f8ff;
    font-family: "Creepster", system-ui;
    font-size: 1.5rem;
    background-color: #2121212f;
    padding: 5px 10px;
    border-radius: 20px;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
}
.home .myCoins div h1{
    margin-top: 20px;
    color: #f8f8ff;
    font-family: "Oxanium", sans-serif;
    font-size: 1.8rem;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: #2121212f;
    padding: 4px 10px;
    border-radius: 20px;
}
.home .myCoins .userMiniInfos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    /* background-color: #2121212f; */
    border-radius: 20px;
    margin-top: 20px;
}
.home .myCoins .userMiniInfos h4{
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
    border-left: 1px solid #f8f8ff53;
    border-right: 1px solid #f8f8ff53;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
}
.tasks{
    width: 100%;
    height: max-content;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px -5px 5px rgb(0, 0, 0, 0.2);
    background-color: #1a1a1a68;
    outline: 2px solid #f8f8ff;
}
.tasks .taskTxt{
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: "Oxanium", sans-serif;
}
.taskBox{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.taskBox .task{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f8f8ff;
    color: #2e2e2e;
    /* background-color: #CFAF77; */
    /* backdrop-filter: blur(50px); */
    height: 55px;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.taskBox .task p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}
.taskBox .task button{
    padding: 6px 18px;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: #CFAF77;
    border-radius: 20px;
    box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.3);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.taskContext{
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}

.refs{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 20px 0px 0px 0px;
    background: linear-gradient(55deg, #1a1a1a, #2e2e2e, #212121b5);
}
.refs button{
    padding: 9px 50px;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: #f8f8ff;
    border-radius: 20px;
    box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.3);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
}
.stat{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(55deg, #1a1a1a, #2e2e2e, #CFAF77);
    padding: 20px 0px 0px 0px;
}
.stat h1{
    margin-bottom: 30px;
    font-family: "Oxanium", sans-serif;
}
.stat .meBox{
    border-bottom: 2px solid #f8f8ff53;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.stat .meBox h3{
    font-family: "Oxanium", sans-serif;
}
.stat .me{
    width: 92vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to top right, #1a1a1a, #2e2e2e, #1a1a1a68);
    font-family: "Poppins", sans-serif;
}
.stat .topUser{
    width: 92vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: #f8f8ff;
    color: #1a1a1a;
    font-family: "Poppins", sans-serif;
}

.info{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(55deg, #1a1a1a, #2e2e2e, #212121b5);
    padding: 10px 20px;
    text-align: center;
}
.info h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 40px;
}
.info h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 35px;
}
.info h4{
    font-family: "Oxanium", sans-serif;
    position: absolute;
    bottom: 15%;
}